tester/Service References/Contable_srv/WsNsftContabilidad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WsNsftContabilidad" elementFormDefault="qualified" targetNamespace="http://WsNsftContabilidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CrearAsientoContable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asiento" nillable="true" type="tns:Asiento" />
        <xs:element minOccurs="0" name="conexion" nillable="true" type="tns:ConexionWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Asiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoVat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ref1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ref2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StampTax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VatDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lineas" nillable="true" type="tns:ArrayOfAsientoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asiento" nillable="true" type="tns:Asiento" />
  <xs:complexType name="ArrayOfAsientoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AsientoDetalle" nillable="true" type="tns:AsientoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsientoDetalle" nillable="true" type="tns:ArrayOfAsientoDetalle" />
  <xs:complexType name="AsientoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Credit" type="xs:double" />
      <xs:element minOccurs="0" name="Debit" type="xs:double" />
      <xs:element minOccurs="0" name="DuoDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LineMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OcrCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OcrCode3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfitCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ref1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ref2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ref3Line" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TaxDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="U_InfoCo01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="socioNegocio" nillable="true" type="tns:SocioNegocio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AsientoDetalle" nillable="true" type="tns:AsientoDetalle" />
  <xs:complexType name="SocioNegocio">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccCritria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlockDunn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardFName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cellular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollecAuth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditLine" type="xs:double" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebPayAcct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeferrTax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="E_Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Equ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicTradNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Territory" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocioNegocio" nillable="true" type="tns:SocioNegocio" />
  <xs:complexType name="ConexionWS">
    <xs:sequence>
      <xs:element name="Contrasena" nillable="true" type="xs:string" />
      <xs:element name="Usuario" nillable="true" type="xs:string" />
      <xs:element name="UsuarioWsNsftContabilidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConexionWS" nillable="true" type="tns:ConexionWS" />
  <xs:element name="CrearAsientoContableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearAsientoContableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DataAccessFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorSAP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataAccessFault" nillable="true" type="tns:DataAccessFault" />
</xs:schema>